<footer role="contentinfo">
  <div class="constrained">
    <%= typeof content != "undefined" ? content : "" %>
    <div class="npr">
      <ul>
        <li>&copy; 2021 Chicago Public Media Inc.</li>
        
        <li><a href="https://www.wbez.org/terms-of-use" target="_blank">Terms of Use</a></li>
        <li><a href="https://www.wbez.org/privacy-policy" target="_blank">Privacy Policy</a></li>
        <li><a href="https://publicfiles.fcc.gov/fm-profile/wbez" target="_blank">FCC Public Filing Info</a></li>
        <li><a href="https://wbez-assets.s3.amazonaws.com/pdf/fcc-notices_8-12-2020.pdf" target="_blank">Notice of FCC Applications</a></li>
        
      </ul>
    </div>
  </div>
</footer>
